<head align="center">
  <title>HiSchools</title>
</head>
<p>Welcome to</p>
<h1>HiSchools!</h1>

<body align="center">
<p>Please  </p>
<p>login or sign in<p>
<p>to access HiSchools! content. <p>
</body>

<footer><a href="/about">About</a></footer>