<body>HErE</body>

<% @final_high_schools.first(20).each do |school| %>
	<li><%=	"Name: #{school.school_name}" %></li>
	<li><%=	"Address: #{school.school_address}" %></li>
	---------------------
<% end %>
